-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "GioiTinhEnum" AS ENUM ('Nam', 'Nu');

-- CreateEnum
CREATE TYPE "LoaiChinhSachEnum" AS ENUM ('ChinhSachBaoHiem', 'ChinhSachHuyVe', 'ChinhSachKhac', 'ChinhSachThanhToan');

-- CreateEnum
CREATE TYPE "LoaiTaiKhoanNhanVienEnum" AS ENUM ('BanQuanLy', 'NhanVienBanVe', 'NhanVienDieuPhoi', 'QuanTriVien');

-- CreateEnum
CREATE TYPE "LoaiTinTucEnum" AS ENUM ('ThongBao', 'SuKien', 'KhuyenMai', 'TinTucChung', 'TuyenDung', 'HuongDan');

-- CreateEnum
CREATE TYPE "LoaiViPhamEnum" AS ENUM ('Nang', 'Nhe', 'TrungBinh');

-- CreateEnum
CREATE TYPE "TrangThaiChinhSachEnum" AS ENUM ('DangApDung', 'NgungApDung');

-- CreateEnum
CREATE TYPE "TrangThaiNhatKyEnum" AS ENUM ('ThanhCong', 'ThatBai');

-- CreateEnum
CREATE TYPE "TrangThaiTaiKhoanEnum" AS ENUM ('DaKhoa', 'HoatDong');

-- CreateEnum
CREATE TYPE "TrangThaiTinTucEnum" AS ENUM ('DaDang', 'BanNhap', 'NgungHienThi', 'HenGio');

-- CreateEnum
CREATE TYPE "TrangThaiViPhamEnum" AS ENUM ('DangApDung', 'NgungApDung');

-- CreateEnum
CREATE TYPE "LoaiDiem" AS ENUM ('DiemDonTra', 'DiemDung');

-- CreateEnum
CREATE TYPE "LoaiNhanVien" AS ENUM ('TaiXe', 'PhuXe');

-- CreateEnum
CREATE TYPE "PhuongThucThanhToan" AS ENUM ('VietQR', 'MoMo', 'VNPay', 'ZaloPay', 'ATM nß╗Öi ─æß╗ïa', 'Visa/Master/JCB', 'TienMat');

-- CreateEnum
CREATE TYPE "TrangThaiDiem" AS ENUM ('DangHoatDong', 'DaKhoa');

-- CreateEnum
CREATE TYPE "TrangThaiGhe" AS ENUM ('─É├ú b├ín', 'C├▓n Trß╗æng', '─Éang chß╗ìn');

-- CreateEnum
CREATE TYPE "TrangThaiLamViec" AS ENUM ('DangLamViec', 'DaKhoa');

-- CreateEnum
CREATE TYPE "TrangThaiLichTrinh" AS ENUM ('DangChay', 'ChoKhoiHanh', 'HoanThanh', 'DaKhoa');

-- CreateEnum
CREATE TYPE "TrangThaiPhuongTien" AS ENUM ('DangHoatDong', 'DaKhoa');

-- CreateEnum
CREATE TYPE "TrangThaiThanhToan" AS ENUM ('Chß╗¥ thanh to├ín', '─É├ú thanh to├ín', 'Chß╗¥ ho├án tiß╗ün', '─É├ú ho├án tiß╗ün', '─É├ú hß╗ºy');

-- CreateEnum
CREATE TYPE "TrangThaiTuyenXe" AS ENUM ('DangHoatDong', 'DaKhoa');

-- CreateEnum
CREATE TYPE "TrangThaiVe" AS ENUM ('ChoThanhToan', 'ChoKhoiHanh', 'DaHoanThanh', 'DaHuy', 'DaDanhGia');

-- CreateEnum
CREATE TYPE "TrangThaiDanhGia" AS ENUM ('ChuaPhanHoi', 'DaPhanHoi');

-- CreateEnum
CREATE TYPE "LoaiXe" AS ENUM ('Limousine 22 ph├▓ng');

-- CreateEnum
CREATE TYPE "TienIch" AS ENUM ('Tivi', 'N╞░ß╗¢c, kh─ân ╞░ß╗¢t', 'ß╗ö sß║íc, USB', 'GPS', 'Wifi', '─Éiß╗üu h├▓a');

-- CreateTable
CREATE TABLE "BAN_QUAN_LY" (
    "MaBanQuanLy" VARCHAR NOT NULL,

    CONSTRAINT "BAN_QUAN_LY_pkey" PRIMARY KEY ("MaBanQuanLy")
);

-- CreateTable
CREATE TABLE "CHINH_SACH" (
    "MaChinhSach_ND" VARCHAR NOT NULL,
    "TieuDe" VARCHAR NOT NULL,
    "LoaiChinhSach" "LoaiChinhSachEnum" NOT NULL,
    "NoiDung" TEXT NOT NULL,
    "NgayApDung" DATE NOT NULL,
    "TrangThai" "TrangThaiChinhSachEnum" NOT NULL,
    "MaQuanTriVien" VARCHAR NOT NULL,

    CONSTRAINT "CHINH_SACH_pkey" PRIMARY KEY ("MaChinhSach_ND")
);

-- CreateTable
CREATE TABLE "CHINH_SACH_HUY_VE" (
    "MaChinhSach" VARCHAR NOT NULL,
    "TenChinhSach" TEXT NOT NULL,
    "GioiHanGioTruocKhoiHanh" INTEGER NOT NULL,
    "TyLePhiHuy" DOUBLE PRECISION NOT NULL,
    "MoTa" TEXT,
    "TrangThai" "TrangThaiChinhSachEnum" NOT NULL,
    "NgayApDung" DATE NOT NULL,

    CONSTRAINT "CHINH_SACH_HUY_VE_pkey" PRIMARY KEY ("MaChinhSach")
);

-- CreateTable
CREATE TABLE "CHI_PHI_CHUYEN_XE" (
    "MaChiPhi" VARCHAR NOT NULL,
    "MaLichTrinh" VARCHAR NOT NULL,
    "LoaiChiPhi" VARCHAR NOT NULL,
    "SoTien" DECIMAL NOT NULL,
    "GhiChu" TEXT,

    CONSTRAINT "CHI_PHI_CHUYEN_XE_pkey" PRIMARY KEY ("MaChiPhi")
);

-- CreateTable
CREATE TABLE "DANH_GIA" (
    "MaDanhGia" VARCHAR NOT NULL,
    "MaVe" VARCHAR NOT NULL,
    "MaKhachHang" VARCHAR NOT NULL,
    "SoSao" INTEGER NOT NULL,
    "NoiDungDanhGia" VARCHAR(1000),
    "ThoiGianDanhGia" TIMESTAMP(6) NOT NULL,
    "TrangThaiPhanHoi" "TrangThaiDanhGia" NOT NULL,
    "DiemAnToan" SMALLINT,
    "DiemSachSe" SMALLINT,
    "DiemThaiDo" SMALLINT,
    "DiemDungGio" SMALLINT,
    "DiemThongTin" SMALLINT,
    "DiemTienNghi" SMALLINT,

    CONSTRAINT "DANH_GIA_pkey" PRIMARY KEY ("MaDanhGia")
);

-- CreateTable
CREATE TABLE "DIEM_DON_TRA_DUNG" (
    "MaDiem" VARCHAR NOT NULL,
    "MaTuyenXe" VARCHAR NOT NULL,
    "TenDiem" VARCHAR(100) NOT NULL,
    "ThanhPho" VARCHAR(100) NOT NULL,
    "Tinh" VARCHAR(100) NOT NULL,
    "DiaChi" VARCHAR(255) NOT NULL,
    "LinkGoogleMap" VARCHAR(255),
    "AnhDiem" VARCHAR(255),
    "LoaiDiem" "LoaiDiem" NOT NULL,
    "TrangThaiDiem" "TrangThaiDiem" NOT NULL,
    "MaNVDieuPhoi" VARCHAR NOT NULL,
    "GioCanCoMat" TIME(6),
    "ThoiGianCoMatTruoc" INTEGER,

    CONSTRAINT "DIEM_DON_TRA_DUNG_pkey" PRIMARY KEY ("MaDiem")
);

-- CreateTable
CREATE TABLE "DON_HANG" (
    "MaDonHang" VARCHAR NOT NULL,
    "MaKhachHang" VARCHAR NOT NULL,
    "MaNVBanVe" VARCHAR,
    "HoTenNguoiDi" TEXT,
    "SdtNguoiDi" TEXT,
    "EmailNguoiDi" TEXT,
    "ThoiGianDat" TIMESTAMPTZ(6),
    "SoLuongVeDaDat" INTEGER,
    "TienBaoHiem" DECIMAL,
    "TongGiaVe" DECIMAL,
    "PhuongThucThanhToan" "PhuongThucThanhToan",
    "TrangThaiDonHang" "TrangThaiVe",

    CONSTRAINT "DON_HANG_pkey" PRIMARY KEY ("MaDonHang")
);

-- CreateTable
CREATE TABLE "GHE" (
    "MaGhe" VARCHAR NOT NULL,
    "MaXe" VARCHAR NOT NULL,
    "SoGhe" TEXT,
    "TangGhe" INTEGER,
    "DayGhe" TEXT,

    CONSTRAINT "GHE_pkey" PRIMARY KEY ("MaGhe")
);

-- CreateTable
CREATE TABLE "GHE_CHUYEN_XE" (
    "MaGheChuyen" VARCHAR NOT NULL,
    "NhomGhe" VARCHAR NOT NULL,
    "GiaVe" DECIMAL NOT NULL,
    "TrangThaiGhe" "TrangThaiGhe" NOT NULL,
    "ThoiGianCapNhatTrangThai" TIMESTAMP(6) NOT NULL,
    "MaLichTrinh" VARCHAR NOT NULL,
    "MaGhe" VARCHAR NOT NULL,

    CONSTRAINT "GHE_CHUYEN_XE_pkey" PRIMARY KEY ("MaGheChuyen")
);

-- CreateTable
CREATE TABLE "GHE_GIU_CHO" (
    "MaGiuCho" UUID NOT NULL DEFAULT gen_random_uuid(),
    "MaGheChuyen" VARCHAR NOT NULL,
    "MaLichTrinh" VARCHAR NOT NULL,
    "MaSession" VARCHAR,
    "TrangThai" VARCHAR NOT NULL,
    "ThoiGianHetHan" TIMESTAMP(6) NOT NULL,
    "ThoiGianTao" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "GHE_GIU_CHO_pkey" PRIMARY KEY ("MaGiuCho")
);

-- CreateTable
CREATE TABLE "KHACH_HANG" (
    "MaKhachHang" VARCHAR NOT NULL,
    "HoTenKhachHang" VARCHAR NOT NULL,
    "SoDienThoai" VARCHAR NOT NULL,
    "Email" VARCHAR,
    "MatKhau" TEXT NOT NULL,
    "AnhDaiDien" TEXT,
    "GioiTinh" "GioiTinhEnum" NOT NULL,
    "NgaySinh" DATE,
    "TrangThaiTaiKhoan" "TrangThaiTaiKhoanEnum" NOT NULL,
    "NgayDangKy" TIMESTAMPTZ(6) NOT NULL,
    "LyDoKhoa" VARCHAR,

    CONSTRAINT "KHACH_HANG_pkey" PRIMARY KEY ("MaKhachHang")
);

-- CreateTable
CREATE TABLE "LICH_SU_HUY_VE" (
    "MaLichSuHuy" VARCHAR NOT NULL,
    "MaVe" VARCHAR NOT NULL,
    "MaChinhSach" VARCHAR NOT NULL,
    "NguonHuy" VARCHAR(30) NOT NULL,
    "MaKhachHang" VARCHAR,
    "MaNVBanVe" VARCHAR,
    "TienVeGoc" DECIMAL(18,2) NOT NULL,
    "TyLePhiHuyApDung" DOUBLE PRECISION NOT NULL,
    "LePhiHuy" DECIMAL(18,2) NOT NULL,
    "TienHoanLai" DECIMAL(18,2) NOT NULL,
    "MaGiaoDichHoan" VARCHAR NOT NULL,

    CONSTRAINT "LICH_SU_HUY_VE_pkey" PRIMARY KEY ("MaLichSuHuy")
);

-- CreateTable
CREATE TABLE "LICH_SU_VE" (
    "MaLichSu" VARCHAR NOT NULL,
    "HanhDong" VARCHAR NOT NULL,
    "TrangThaiCu" VARCHAR NOT NULL,
    "TrangThaiMoi" VARCHAR NOT NULL,
    "ThoiGianThayDoi" TIMESTAMP(6) NOT NULL,
    "GhiChu" VARCHAR NOT NULL,
    "MaVe" VARCHAR NOT NULL,
    "MaKhachHang" VARCHAR,
    "MaNVBanVe" VARCHAR,

    CONSTRAINT "LICH_SU_VE_pkey" PRIMARY KEY ("MaLichSu")
);

-- CreateTable
CREATE TABLE "LICH_TRINH" (
    "MaLichTrinh" VARCHAR NOT NULL,
    "NgayKhoiHanh" DATE NOT NULL,
    "GioKhoiHanh" TIME(6) NOT NULL,
    "GioGoiYCoMat" TIME(6) NOT NULL,
    "GioDenDuKien" TIME(6) NOT NULL,
    "GiaVeCoBan" DECIMAL NOT NULL,
    "TrangThaiLichTrinh" "TrangThaiLichTrinh" NOT NULL,
    "MaTuyenXe" VARCHAR NOT NULL,
    "MaXe" VARCHAR NOT NULL,
    "MaNVDieuPhoi" VARCHAR NOT NULL,

    CONSTRAINT "LICH_TRINH_pkey" PRIMARY KEY ("MaLichTrinh")
);

-- CreateTable
CREATE TABLE "LICH_TRINH_DIEM_DUNG" (
    "MaLichTrinhDiemDung" VARCHAR NOT NULL,
    "MaLichTrinh" VARCHAR NOT NULL,
    "MaDiem" VARCHAR NOT NULL,
    "ThuTuDung" INTEGER,
    "GioDenDuKien" TIME(6) NOT NULL,
    "Ngay" DATE,
    "GhiChu" TEXT,

    CONSTRAINT "LICH_TRINH_DIEM_DUNG_pkey" PRIMARY KEY ("MaLichTrinhDiemDung")
);

-- CreateTable
CREATE TABLE "MEDIA_DANH_GIA" (
    "DuongDanFile" TEXT,
    "LoaiMedia" VARCHAR,
    "DinhDang" VARCHAR,
    "DungLuong_bytes" BIGINT,
    "MaDanhGia" VARCHAR,
    "MaMedia" UUID NOT NULL DEFAULT gen_random_uuid(),

    CONSTRAINT "MEDIA_DANH_GIA_pkey" PRIMARY KEY ("MaMedia")
);

-- CreateTable
CREATE TABLE "NHAN_VIEN" (
    "MaNhanVien" VARCHAR NOT NULL,
    "LoaiTaiKhoan" "LoaiTaiKhoanNhanVienEnum" NOT NULL,
    "TenTruyCap" VARCHAR NOT NULL,
    "MatKhau" TEXT NOT NULL,
    "HoVaTenDem" TEXT NOT NULL,
    "Ten" TEXT NOT NULL,
    "TenHienThi" TEXT NOT NULL,
    "GioiTinh" VARCHAR,
    "NgaySinh" DATE,
    "DiaChi" TEXT,
    "SoDienThoai" VARCHAR NOT NULL,
    "DienThoaiCoDinh" TEXT,
    "Email" VARCHAR NOT NULL,
    "AnhDaiDien" TEXT,
    "GhiChu" TEXT,
    "TrangThai" "TrangThaiTaiKhoanEnum",
    "Quyen" TEXT[] DEFAULT ARRAY[]::TEXT[],

    CONSTRAINT "NHAN_VIEN_pkey" PRIMARY KEY ("MaNhanVien")
);

-- CreateTable
CREATE TABLE "NHAN_VIEN_BAN_VE" (
    "MaNVBanVe" VARCHAR NOT NULL,

    CONSTRAINT "NHAN_VIEN_BAN_VE_pkey" PRIMARY KEY ("MaNVBanVe")
);

-- CreateTable
CREATE TABLE "NHAN_VIEN_DIEU_PHOI" (
    "MaNVDieuPhoi" VARCHAR NOT NULL,

    CONSTRAINT "NHAN_VIEN_DIEU_PHOI_pkey" PRIMARY KEY ("MaNVDieuPhoi")
);

-- CreateTable
CREATE TABLE "NHAT_KY_HE_THONG" (
    "MaNhatKy" VARCHAR NOT NULL,
    "MaKhachHang" VARCHAR,
    "MaNhanVien" VARCHAR,
    "LoaiThaoTac" TEXT,
    "ThoiGian" TIMESTAMPTZ(6),
    "DiaChiIP" TEXT,
    "NoiDungChiTiet" TEXT,
    "DuLieuThayDoi" JSONB,
    "MaVe" VARCHAR,
    "ThietBiTrinhDuyet" VARCHAR,
    "TrangThai" "TrangThaiNhatKyEnum",
    "TrangThaiCu" VARCHAR,
    "TrangThaiMoi" VARCHAR,
    "TuyenXe" VARCHAR,

    CONSTRAINT "NHAT_KY_HE_THONG_pkey" PRIMARY KEY ("MaNhatKy")
);

-- CreateTable
CREATE TABLE "OTP_XAC_THUC" (
    "MaOTP" VARCHAR NOT NULL,
    "PhuongThucNhanOTP" VARCHAR NOT NULL,
    "SoDienThoai_Email" VARCHAR NOT NULL,
    "MaOTPMaHoa" TEXT NOT NULL,
    "MucDich" VARCHAR NOT NULL,
    "ThoiGianTao" TIMESTAMPTZ(6) NOT NULL,
    "ThoiGianHetHan" TIMESTAMPTZ(6) NOT NULL,
    "DaSuDung" BOOLEAN NOT NULL,

    CONSTRAINT "OTP_XAC_THUC_pkey" PRIMARY KEY ("MaOTP")
);

-- CreateTable
CREATE TABLE "PHAN_CONG_CHUYEN" (
    "MaPhanCong" VARCHAR NOT NULL,
    "MaLichTrinh" VARCHAR NOT NULL,
    "MaTaiXePhuXe" VARCHAR NOT NULL,
    "VaiTro" VARCHAR(30) NOT NULL,

    CONSTRAINT "PHAN_CONG_CHUYEN_pkey" PRIMARY KEY ("MaPhanCong")
);

-- CreateTable
CREATE TABLE "PHAN_HOI_DANH_GIA" (
    "MaPhanHoi" VARCHAR NOT NULL,
    "MaDanhGia" VARCHAR NOT NULL,
    "MaQuanTriVien" VARCHAR NOT NULL,
    "NoiDungPhanHoi" TEXT NOT NULL,
    "ThoiGianPhanHoi" TIMESTAMP(6) NOT NULL,

    CONSTRAINT "PHAN_HOI_DANH_GIA_pkey" PRIMARY KEY ("MaPhanHoi")
);

-- CreateTable
CREATE TABLE "PHUONG_TIEN" (
    "MaXe" VARCHAR NOT NULL,
    "TenXe" VARCHAR NOT NULL,
    "BienSoXe" VARCHAR NOT NULL,
    "LoaiXe" "LoaiXe" NOT NULL,
    "SoTang" SMALLINT NOT NULL,
    "SoDay" SMALLINT NOT NULL,
    "SoGhe" INTEGER NOT NULL,
    "TienIch" "TienIch"[],
    "HanDangKiem" DATE NOT NULL,
    "HanBaoHiem" DATE NOT NULL,
    "AnhXe" TEXT,
    "TrangThaiPhuongTien" "TrangThaiPhuongTien" NOT NULL,
    "MaNVDieuPhoi" VARCHAR NOT NULL,

    CONSTRAINT "PHUONG_TIEN1_pkey" PRIMARY KEY ("MaXe")
);

-- CreateTable
CREATE TABLE "QUAN_TRI_VIEN" (
    "MaQuanTriVien" VARCHAR NOT NULL,

    CONSTRAINT "QUAN_TRI_VIEN_pkey" PRIMARY KEY ("MaQuanTriVien")
);

-- CreateTable
CREATE TABLE "TAI_XE_PHU_XE" (
    "MaTaiXePhuXe" VARCHAR NOT NULL,
    "LoaiNhanVien" "LoaiNhanVien" NOT NULL,
    "HoTen" TEXT,
    "NgaySinh" DATE,
    "SoDienThoai" TEXT,
    "CCCD" TEXT,
    "LoaiBangLai" TEXT,
    "ThoiHanBangLai" DATE,
    "AnhBangLai" TEXT,
    "AnhChanDung" TEXT,
    "AnhCCCD" TEXT,
    "TrangThaiLamViec" "TrangThaiLamViec",

    CONSTRAINT "TAI_XE_PHU_XE_pkey" PRIMARY KEY ("MaTaiXePhuXe")
);

-- CreateTable
CREATE TABLE "THANH_TOAN" (
    "MaGiaoDich" VARCHAR NOT NULL,
    "MaDonHang" VARCHAR NOT NULL,
    "LoaiGiaoDich" TEXT NOT NULL,
    "PhuongThucThanhToan" TEXT NOT NULL,
    "SoTien" DECIMAL NOT NULL,
    "ThoiGianGiaoDich" TIMESTAMP(6) NOT NULL,
    "TrangThaiGiaoDich" TEXT NOT NULL,
    "LichSuHoanTien" TEXT NOT NULL,

    CONSTRAINT "THANH_TOAN_pkey" PRIMARY KEY ("MaGiaoDich")
);

-- CreateTable
CREATE TABLE "TIN_TUC" (
    "MaTinTuc" VARCHAR NOT NULL,
    "TieuDe" TEXT NOT NULL,
    "AnhBia" TEXT,
    "LoaiTinTuc" "LoaiTinTucEnum",
    "MoTaNgan" TEXT,
    "NoiDungChiTiet" TEXT,
    "NgayDang" TIMESTAMPTZ(6),
    "TrangThai" "TrangThaiTinTucEnum",
    "MaQuanTriVien" VARCHAR,
    "NgayGioHenGio" TIMESTAMPTZ(6),
    "NoiBat" BOOLEAN DEFAULT false,

    CONSTRAINT "TIN_TUC_pkey" PRIMARY KEY ("MaTinTuc")
);

-- CreateTable
CREATE TABLE "TUYEN_XE" (
    "MaTuyenXe" VARCHAR NOT NULL,
    "TenTuyenXe" TEXT NOT NULL,
    "DiemKhoiHanh" TEXT NOT NULL,
    "DiemDen" TEXT NOT NULL,
    "KhoangCach" DOUBLE PRECISION,
    "ThoiGianDiChuyenDuKien" TIME(6) NOT NULL,
    "TrangThaiTuyenXe" "TrangThaiTuyenXe" NOT NULL,
    "MaNVDieuPhoi" VARCHAR NOT NULL,

    CONSTRAINT "TUYEN_XE_pkey" PRIMARY KEY ("MaTuyenXe")
);

-- CreateTable
CREATE TABLE "TU_KHOA_HAN_CHE" (
    "MaTuKhoa" VARCHAR NOT NULL,
    "NoiDungTuKhoa" VARCHAR(255) NOT NULL,
    "LoaiViPham" "LoaiViPhamEnum" NOT NULL,
    "TrangThai" "TrangThaiViPhamEnum" NOT NULL,
    "ThoiGianCapNhat" TIMESTAMP(6) NOT NULL,
    "MaQuanTriVien" VARCHAR,

    CONSTRAINT "TU_KHOA_HAN_CHE_pkey" PRIMARY KEY ("MaTuKhoa")
);

-- CreateTable
CREATE TABLE "VE_DIEN_TU" (
    "MaVe" VARCHAR NOT NULL,
    "GiaVe" DECIMAL NOT NULL,
    "TrangThaiVe" "TrangThaiVe" NOT NULL,
    "SoLanDaSua" INTEGER NOT NULL,
    "ThoiGianXuatVe" TIMESTAMP(6) NOT NULL,
    "MaQRVe" TEXT NOT NULL,
    "MaDonHang" VARCHAR NOT NULL,
    "MaLichTrinh" VARCHAR NOT NULL,
    "MaXe" VARCHAR NOT NULL,
    "MaGheChuyen" VARCHAR NOT NULL,
    "MaDiemDon" VARCHAR NOT NULL,
    "MaDiemTra" VARCHAR NOT NULL,

    CONSTRAINT "VE_DIEN_TU_pkey" PRIMARY KEY ("MaVe")
);

-- CreateIndex
CREATE INDEX "GHE_GIU_CHO_MaGheChuyen_idx" ON "GHE_GIU_CHO"("MaGheChuyen");

-- CreateIndex
CREATE INDEX "GHE_GIU_CHO_MaLichTrinh_idx" ON "GHE_GIU_CHO"("MaLichTrinh");

-- AddForeignKey
ALTER TABLE "BAN_QUAN_LY" ADD CONSTRAINT "BAN_QUAN_LY_MaBanQuanLy_fkey" FOREIGN KEY ("MaBanQuanLy") REFERENCES "NHAN_VIEN"("MaNhanVien") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "CHINH_SACH" ADD CONSTRAINT "CHINH_SACH_MaQuanTriVien_fkey" FOREIGN KEY ("MaQuanTriVien") REFERENCES "QUAN_TRI_VIEN"("MaQuanTriVien") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "CHI_PHI_CHUYEN_XE" ADD CONSTRAINT "CHI_PHI_CHUYEN_XE_MaLichTrinh_fkey" FOREIGN KEY ("MaLichTrinh") REFERENCES "LICH_TRINH"("MaLichTrinh") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "DANH_GIA" ADD CONSTRAINT "DANH_GIA_MaKhachHang_fkey" FOREIGN KEY ("MaKhachHang") REFERENCES "KHACH_HANG"("MaKhachHang") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "DANH_GIA" ADD CONSTRAINT "DANH_GIA_MaVe_fkey" FOREIGN KEY ("MaVe") REFERENCES "VE_DIEN_TU"("MaVe") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "DIEM_DON_TRA_DUNG" ADD CONSTRAINT "DIEM_DON_TRA_DUNG_MaNVDieuPhoi_fkey" FOREIGN KEY ("MaNVDieuPhoi") REFERENCES "NHAN_VIEN_DIEU_PHOI"("MaNVDieuPhoi") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "DIEM_DON_TRA_DUNG" ADD CONSTRAINT "DIEM_DON_TRA_DUNG_MaTuyenXe_fkey" FOREIGN KEY ("MaTuyenXe") REFERENCES "TUYEN_XE"("MaTuyenXe") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "DON_HANG" ADD CONSTRAINT "DON_HANG_MaKhachHang_fkey" FOREIGN KEY ("MaKhachHang") REFERENCES "KHACH_HANG"("MaKhachHang") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "DON_HANG" ADD CONSTRAINT "DON_HANG_MaNVBanVe_fkey" FOREIGN KEY ("MaNVBanVe") REFERENCES "NHAN_VIEN_BAN_VE"("MaNVBanVe") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "GHE" ADD CONSTRAINT "GHE_MaXe_fkey" FOREIGN KEY ("MaXe") REFERENCES "PHUONG_TIEN"("MaXe") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "GHE_CHUYEN_XE" ADD CONSTRAINT "GHE_CHUYEN_XE_MaGhe_fkey" FOREIGN KEY ("MaGhe") REFERENCES "GHE"("MaGhe") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "GHE_CHUYEN_XE" ADD CONSTRAINT "GHE_CHUYEN_XE_MaLichTrinh_fkey" FOREIGN KEY ("MaLichTrinh") REFERENCES "LICH_TRINH"("MaLichTrinh") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LICH_SU_HUY_VE" ADD CONSTRAINT "LICH_SU_HUY_VE_MaChinhSach_fkey" FOREIGN KEY ("MaChinhSach") REFERENCES "CHINH_SACH_HUY_VE"("MaChinhSach") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LICH_SU_HUY_VE" ADD CONSTRAINT "LICH_SU_HUY_VE_MaGiaoDichHoan_fkey" FOREIGN KEY ("MaGiaoDichHoan") REFERENCES "THANH_TOAN"("MaGiaoDich") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LICH_SU_HUY_VE" ADD CONSTRAINT "LICH_SU_HUY_VE_MaKhachHang_fkey" FOREIGN KEY ("MaKhachHang") REFERENCES "KHACH_HANG"("MaKhachHang") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LICH_SU_HUY_VE" ADD CONSTRAINT "LICH_SU_HUY_VE_MaNVBanVe_fkey" FOREIGN KEY ("MaNVBanVe") REFERENCES "NHAN_VIEN_BAN_VE"("MaNVBanVe") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LICH_SU_HUY_VE" ADD CONSTRAINT "LICH_SU_HUY_VE_MaVe_fkey" FOREIGN KEY ("MaVe") REFERENCES "VE_DIEN_TU"("MaVe") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LICH_SU_VE" ADD CONSTRAINT "LICH_SU_VE_MaKhachHang_fkey" FOREIGN KEY ("MaKhachHang") REFERENCES "KHACH_HANG"("MaKhachHang") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LICH_SU_VE" ADD CONSTRAINT "LICH_SU_VE_MaNVBanVe_fkey" FOREIGN KEY ("MaNVBanVe") REFERENCES "NHAN_VIEN_BAN_VE"("MaNVBanVe") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LICH_SU_VE" ADD CONSTRAINT "LICH_SU_VE_MaVe_fkey" FOREIGN KEY ("MaVe") REFERENCES "VE_DIEN_TU"("MaVe") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LICH_TRINH" ADD CONSTRAINT "LICH_TRINH_MaNVDieuPhoi_fkey" FOREIGN KEY ("MaNVDieuPhoi") REFERENCES "NHAN_VIEN_DIEU_PHOI"("MaNVDieuPhoi") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LICH_TRINH" ADD CONSTRAINT "LICH_TRINH_MaTuyenXe_fkey" FOREIGN KEY ("MaTuyenXe") REFERENCES "TUYEN_XE"("MaTuyenXe") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LICH_TRINH" ADD CONSTRAINT "LICH_TRINH_MaXe_fkey" FOREIGN KEY ("MaXe") REFERENCES "PHUONG_TIEN"("MaXe") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LICH_TRINH_DIEM_DUNG" ADD CONSTRAINT "LICH_TRINH_DIEM_DUNG_MaDiem_fkey" FOREIGN KEY ("MaDiem") REFERENCES "DIEM_DON_TRA_DUNG"("MaDiem") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "LICH_TRINH_DIEM_DUNG" ADD CONSTRAINT "LICH_TRINH_DIEM_DUNG_MaLichTrinh_fkey" FOREIGN KEY ("MaLichTrinh") REFERENCES "LICH_TRINH"("MaLichTrinh") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "MEDIA_DANH_GIA" ADD CONSTRAINT "MEDIA_DANH_GIA_MaDanhGia_fkey" FOREIGN KEY ("MaDanhGia") REFERENCES "DANH_GIA"("MaDanhGia") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "NHAN_VIEN_BAN_VE" ADD CONSTRAINT "NHAN_VIEN_BAN_VE_MaNVBanVe_fkey" FOREIGN KEY ("MaNVBanVe") REFERENCES "NHAN_VIEN"("MaNhanVien") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "NHAN_VIEN_DIEU_PHOI" ADD CONSTRAINT "NHAN_VIEN_DIEU_PHOI_MaNVDieuPhoi_fkey" FOREIGN KEY ("MaNVDieuPhoi") REFERENCES "NHAN_VIEN"("MaNhanVien") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "NHAT_KY_HE_THONG" ADD CONSTRAINT "NHAT_KY_HE_THONG_MaKhachHang_fkey" FOREIGN KEY ("MaKhachHang") REFERENCES "KHACH_HANG"("MaKhachHang") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "NHAT_KY_HE_THONG" ADD CONSTRAINT "NHAT_KY_HE_THONG_MaNhanVien_fkey" FOREIGN KEY ("MaNhanVien") REFERENCES "NHAN_VIEN"("MaNhanVien") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "PHAN_CONG_CHUYEN" ADD CONSTRAINT "PHAN_CONG_CHUYEN_MaLichTrinh_fkey" FOREIGN KEY ("MaLichTrinh") REFERENCES "LICH_TRINH"("MaLichTrinh") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "PHAN_CONG_CHUYEN" ADD CONSTRAINT "PHAN_CONG_CHUYEN_MaTaiXePhuXe_fkey" FOREIGN KEY ("MaTaiXePhuXe") REFERENCES "TAI_XE_PHU_XE"("MaTaiXePhuXe") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "PHAN_HOI_DANH_GIA" ADD CONSTRAINT "PHAN_HOI_DANH_GIA_MaDanhGia_fkey" FOREIGN KEY ("MaDanhGia") REFERENCES "DANH_GIA"("MaDanhGia") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "PHAN_HOI_DANH_GIA" ADD CONSTRAINT "PHAN_HOI_DANH_GIA_MaQuanTriVien_fkey" FOREIGN KEY ("MaQuanTriVien") REFERENCES "QUAN_TRI_VIEN"("MaQuanTriVien") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "PHUONG_TIEN" ADD CONSTRAINT "PHUONG_TIEN_MaNVDieuPhoi_fkey" FOREIGN KEY ("MaNVDieuPhoi") REFERENCES "NHAN_VIEN_DIEU_PHOI"("MaNVDieuPhoi") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "QUAN_TRI_VIEN" ADD CONSTRAINT "QUAN_TRI_VIEN_MaQuanTriVien_fkey" FOREIGN KEY ("MaQuanTriVien") REFERENCES "NHAN_VIEN"("MaNhanVien") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "THANH_TOAN" ADD CONSTRAINT "THANH_TOAN_MaDonHang_fkey" FOREIGN KEY ("MaDonHang") REFERENCES "DON_HANG"("MaDonHang") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "TIN_TUC" ADD CONSTRAINT "TIN_TUC_MaQuanTriVien_fkey" FOREIGN KEY ("MaQuanTriVien") REFERENCES "QUAN_TRI_VIEN"("MaQuanTriVien") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "TUYEN_XE" ADD CONSTRAINT "TUYEN_XE_MaNVDieuPhoi_fkey" FOREIGN KEY ("MaNVDieuPhoi") REFERENCES "NHAN_VIEN_DIEU_PHOI"("MaNVDieuPhoi") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "TU_KHOA_HAN_CHE" ADD CONSTRAINT "TU_KHOA_HAN_CHE_MaQuanTriVien_fkey" FOREIGN KEY ("MaQuanTriVien") REFERENCES "QUAN_TRI_VIEN"("MaQuanTriVien") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "VE_DIEN_TU" ADD CONSTRAINT "VE_DIEN_TU_MaDiemDon_fkey" FOREIGN KEY ("MaDiemDon") REFERENCES "DIEM_DON_TRA_DUNG"("MaDiem") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "VE_DIEN_TU" ADD CONSTRAINT "VE_DIEN_TU_MaDiemTra_fkey" FOREIGN KEY ("MaDiemTra") REFERENCES "DIEM_DON_TRA_DUNG"("MaDiem") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "VE_DIEN_TU" ADD CONSTRAINT "VE_DIEN_TU_MaDonHang_fkey" FOREIGN KEY ("MaDonHang") REFERENCES "DON_HANG"("MaDonHang") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "VE_DIEN_TU" ADD CONSTRAINT "VE_DIEN_TU_MaGheChuyen_fkey" FOREIGN KEY ("MaGheChuyen") REFERENCES "GHE_CHUYEN_XE"("MaGheChuyen") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "VE_DIEN_TU" ADD CONSTRAINT "VE_DIEN_TU_MaLichTrinh_fkey" FOREIGN KEY ("MaLichTrinh") REFERENCES "LICH_TRINH"("MaLichTrinh") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "VE_DIEN_TU" ADD CONSTRAINT "VE_DIEN_TU_MaXe_fkey" FOREIGN KEY ("MaXe") REFERENCES "PHUONG_TIEN"("MaXe") ON DELETE NO ACTION ON UPDATE NO ACTION;

